<div class="row">
<<<<<<< HEAD
  <div class="col-sm-12">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="col-lg-offset-3 col-lg-6">
        <%= form_for(@tasklist) do |f| %>
          <div class ="imput-group">
            <%= f.label :content, 'やるべきこと' %>
            <%= f.text_field :content, class: 'form-control' %>
          </div>
          <div class ="imput-group">
            <%= f.label :status, 'ステータス' %>
            <%= f.text_field :status, class: 'form-control' %>
          </div>
          <br>
          <%= f.submit '保存', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
=======
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
    <%= form_for(@tasklist) do |f| %>
      <div class ="imput-group">
        <%= f.label :content, 'やるべきこと' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      <div class ="imput-group">
        <%= f.label :status, 'ステータス' %>
        <%= f.text_field :status, class: 'form-control' %>
      </div>
      <br>
      <%= f.submit '保存', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
>>>>>>> d5e428e7e7b1613c7d8a74da491900be49b24dbd
